.course-card {
  border: 1px solid map-get($neutral-color-levels, "stroke-subtle");
  border-radius: $radius-6;
  overflow: hidden;

  .course-card__image {
    width: 100%;
    height: 8.75rem;
    object-fit: cover;
  }

  .course-card__body {
    padding: .75rem .75rem .5rem .75rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1;

    .course-card__badge {
      align-self: start;
      text-transform: uppercase;
      padding: .125rem .25rem;
      font-size: 11px;
      max-height: 1rem;
      line-height: 0;
    }

    .course-card__head {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .course-card__title {
        font-size: $font-size-sm;
        font-weight: $font-weight-label;
        color: map-get($neutral-color-levels, "text-strong");
        height: 2.5rem;
      }

      .course-card__est-time {
        font-size: $font-size-xs;
        font-weight: $font-weight-label;
        color: map-get($neutral-color-levels, "text-default");

        .course-card__est-time-icon {
          margin-right: .25rem;
        }
      }
    }

    .course-card__footer {
      border-top: 1px solid map-get($neutral-color-levels, "stroke-subtle");
      padding-top: .5rem;
      display: flex;
      justify-content: space-between;

      .course-card__price {
        font-size: $font-size-md;
        font-weight: $font-weight-label;
        color: map-get($neutral-color-levels, "text-strong");
      }

      .course-card__share {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
}