// profile header large component
.profile-header-large__container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem 2rem 0rem;

    .profile-header-large__banner-img {
        height: 172px;
        width: 100%;
        object-fit: cover;
        border-radius: $radius-6;
    }



    .profile-header-large__info-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -5rem;

        .profile-header-large__left-section {
            display: flex;
            flex-direction: row;
            align-items: end;

            .profile-header-large__avatar-wrapper {
                margin: 0rem 1rem 0rem 2.5rem;

                .avatar-wrapper-huge {
                    width: 10rem !important;
                    height: 10rem !important;
                    font-size: 3rem;
                    line-height: 2rem;
                }

                .pgn__avatar.avatar-wrapper-border-huge {
                    margin: 0;
                }

                .profile-header-large__avatar {
                    border: 5px solid white;
                }
            }

            .profile-header-large__info {
                margin-bottom: .5rem;

                .profile-header-large__name {
                    color: map-get($neutral-color-levels, "text-strong");
                    font-size: $font-size-lg;
                    font-weight: $font-weight-label;

                }

                .profile-header-large__username {
                    color: map-get($neutral-color-levels, "text-default");
                    font-size: $font-size-sm;
                    font-weight: $font-weight-regular;
                }
            }

        }

        .profile-header-large__right-section {
            @include profile-items-container;
            margin-bottom: 1rem;
            align-items: end;

            >* {
                margin-left: 1rem;
            }
        }
    }
}