$white: #FFFFFF !default;
$gray-50: #F7F8FA !default;
$gray-100: #F2F3F5 !default;
$gray-200: #E5E6EA !default;
$gray-300: #C4C7CC !default;
$gray-400: #99A0AE !default;
$gray-500: #747984 !default;
$gray-600: #525966 !default;
$gray-700: #363C47 !default;
$gray-800: #242933 !default;
$gray-900: #1A1F29 !default;
$gray-950: #10151F !default;
$black: #000000 !default;

$blue-50: #EBF1FF !default;
$blue-100: #D5E2FF !default;
$blue-200: #C0D5FF !default;
$blue-300: #97BAFF !default;
$blue-400: #6895FF !default;
$blue-500: #335CFF !default;
$blue-600: #3559E9 !default;
$blue-700: #2547D0 !default;
$blue-800: #1F3BAD !default;
$blue-900: #182F8B !default;
$blue-950: #122368 !default;

$orange-50: #FFF3EB !default;
$orange-100: #FFE6D5 !default;
$orange-200: #FFD9C0 !default;
$orange-300: #FFC197 !default;
$orange-400: #FFA468 !default;
$orange-500: #FF9147 !default;
$orange-600: #E97D35 !default;
$orange-700: #D06925 !default;
$orange-800: #AD581F !default;
$orange-900: #8B4618 !default;
$orange-950: #683412 !default;

$red-50: #FFEBEC !default;
$red-100: #FFD5D8 !default;
$red-200: #FFC0C5 !default;
$red-300: #FF97A0 !default;
$red-400: #FF6875 !default;
$red-500: #FB3748 !default;
$red-600: #E93544 !default;
$red-700: #D02533 !default;
$red-800: #AD1F2B !default;
$red-900: #8B1822 !default;
$red-950: #681219 !default;

$green-50: #E0FAEC !default;
$green-100: #D0FBE9 !default;
$green-200: #C2F5DA !default;
$green-300: #84EBB4 !default;
$green-400: #3EE089 !default;
$green-500: #1FC16B !default;
$green-600: #1DAF61 !default;
$green-700: #178C4E !default;
$green-800: #1A7544 !default;
$green-900: #16643B !default;
$green-950: #0B4627 !default;

$yellow-50: #FFF4D6 !default;
$yellow-100: #FFEFCC !default;
$yellow-200: #FFECC0 !default;
$yellow-300: #FFE097 !default;
$yellow-400: #FFD268 !default;
$yellow-500: #F6B51E !default;
$yellow-600: #E6A819 !default;
$yellow-700: #C99A2C !default;
$yellow-800: #A78025 !default;
$yellow-900: #86661D !default;
$yellow-950: #624C18 !default;

$purple-50: #EFEBFF !default;
$purple-100: #DCD5FF !default;
$purple-200: #CAC0FF !default;
$purple-300: #A897FF !default;
$purple-400: #8C71F6 !default;
$purple-500: #7D52F4 !default;
$purple-600: #693EE0 !default;
$purple-700: #5B2CC9 !default;
$purple-800: #4C25A7 !default;
$purple-900: #3D1D86 !default;
$purple-950: #351A75 !default;

$sky-50: #EBF8FF !default;
$sky-100: #D5F1FF !default;
$sky-200: #C0EAFF !default;
$sky-300: #97DCFF !default;
$sky-400: #68CDFF !default;
$sky-500: #47C2FF !default;
$sky-600: #35ADE9 !default;
$sky-700: #2597D0 !default;
$sky-800: #1F7EAD !default;
$sky-900: #18658B !default;
$sky-950: #124B68 !default;

$pink-50: #FFEBF4 !default;
$pink-100: #FFD5EA !default;
$pink-200: #FFC0DF !default;
$pink-300: #FF97CB !default;
$pink-400: #FF68B3 !default;
$pink-500: #FB4BA3 !default;
$pink-600: #E9358F !default;
$pink-700: #D0257A !default;
$pink-800: #AD1F66 !default;
$pink-900: #8B1852 !default;
$pink-950: #68123D !default;

$teal-50: #E4FBF8 !default;
$teal-100: #D0FBF5 !default;
$teal-200: #C2F5EE !default;
$teal-300: #84EBDD !default;
$teal-400: #3FDEC9 !default;
$teal-500: #22D3BB !default;
$teal-600: #1DAF9C !default;
$teal-700: #178C7D !default;
$teal-800: #1A7569 !default;
$teal-900: #16645A !default;
$teal-950: #0B463E !default;

$gray-a24: rgb(153, 160, 174, 0.24) !default;
$gray-a16: rgb(153, 160, 174, 0.16) !default;
$gray-a10: rgb(153, 160, 174, 0.10) !default;
$blue-a24: rgb(71, 108, 255, 0.24) !default;
$blue-a16: rgb(71, 108, 255, 0.16) !default;
$blue-a10: rgb(71, 108, 255, 0.10) !default;
$orange-a24: rgb(255, 145, 71, 0.24) !default;
$orange-a16: rgb(255, 145, 71, 0.16) !default;
$orange-a10: rgb(255, 145, 71, 0.10) !default;
$red-a24: rgb(251, 55, 72, 0.24) !default;
$red-a16: rgb(251, 55, 72, 0.16) !default;
$red-a10: rgb(251, 55, 72, 0.10) !default;
$green-a24: rgb(31, 193, 107, 0.24) !default;
$green-a16: rgb(31, 193, 107, 0.16) !default;
$green-a10: rgb(31, 193, 107, 0.10) !default;
$yellow-a24: rgb(251, 198, 75, 0.24) !default;
$yellow-a16: rgb(251, 198, 75, 0.16) !default;
$yellow-a10: rgb(251, 198, 75, 0.10) !default;
$sky-a24: rgb(71, 194, 255, 0.24) !default;
$sky-a16: rgb(71, 194, 255, 0.16) !default;
$sky-a10: rgb(71, 194, 255, 0.10) !default;
$purple-a24: rgb(120, 77, 239, 0.24) !default;
$purple-a16: rgb(120, 77, 239, 0.16) !default;
$purple-a10: rgb(120, 77, 239, 0.10) !default;
$pink-a24: rgb(251, 75, 163, 0.24) !default;
$pink-a16: rgb(251, 75, 163, 0.16) !default;
$pink-a10: rgb(251, 75, 163, 0.10) !default;
$teal-a24: rgb(34, 211, 187, 0.24) !default;
$teal-a16: rgb(34, 211, 187, 0.16) !default;
$teal-a10: rgb(34, 211, 187, 0.10) !default;
$white-a32: rgba(255, 255, 255, 0.32) !default;
$white-a24: rgba(255, 255, 255, 0.24) !default;
$white-a16: rgba(255, 255, 255, 0.16) !default;
$white-a10: rgba(255, 255, 255, 0.10) !default;
$white-a4: rgba(255, 255, 255, 0.04) !default;
$black-a32: rgba(14, 18, 27, 0.32) !default;
$black-a24: rgba(14, 18, 27, 0.24) !default;
$black-a16: rgba(14, 18, 27, 0.16) !default;
$black-a10: rgba(14, 18, 27, 0.10) !default;
$black-a4: rgba(14, 18, 27, 0.04) !default;

$grays: (
    ) !default;
$grays: map-merge(("50": $gray-50,
            "100": $gray-100,
            "200": $gray-200,
            "300": $gray-300,
            "400": $gray-400,
            "500": $gray-500,
            "600": $gray-600,
            "700": $gray-700,
            "800": $gray-800,
            "900": $gray-900,
            "950": $gray-950,
            "a24": $gray-a24,
            "a16": $gray-a16,
            "a10": $gray-a10 ),
        $grays
);

$blues: (
    ) !default;
$blues: map-merge(("50": $blue-50,
            "100": $blue-100,
            "200": $blue-200,
            "300": $blue-300,
            "400": $blue-400,
            "500": $blue-500,
            "600": $blue-600,
            "700": $blue-700,
            "800": $blue-800,
            "900": $blue-900,
            "950": $blue-950,
            "a24": $blue-a24,
            "a16": $blue-a16,
            "a10": $blue-a10),
        $blues
);

$oranges: (
    ) !default;
$oranges: map-merge(("50": $orange-50,
            "100": $orange-100,
            "200": $orange-200,
            "300": $orange-300,
            "400": $orange-400,
            "500": $orange-500,
            "600": $orange-600,
            "700": $orange-700,
            "800": $orange-800,
            "900": $orange-900,
            "950": $orange-950,
            "a24": $orange-a24,
            "a16": $orange-a16,
            "a10": $orange-a10),
        $oranges
);

$reds: (
    ) !default;
$reds: map-merge(("50": $red-50,
            "100": $red-100,
            "200": $red-200,
            "300": $red-300,
            "400": $red-400,
            "500": $red-500,
            "600": $red-600,
            "700": $red-700,
            "800": $red-800,
            "900": $red-900,
            "950": $red-950,
            "a24": $red-a24,
            "a16": $red-a16,
            "a10": $red-a10),
        $reds
);

$greens: (
    ) !default;
$greens: map-merge(("50": $green-50,
            "100": $green-100,
            "200": $green-200,
            "300": $green-300,
            "400": $green-400,
            "500": $green-500,
            "600": $green-600,
            "700": $green-700,
            "800": $green-800,
            "900": $green-900,
            "950": $green-950,
            "a24": $green-a24,
            "a16": $green-a16,
            "a10": $green-a10),
        $greens
);

$yellows: (
    ) !default;
$yellows: map-merge(("50": $yellow-50,
            "100": $yellow-100,
            "200": $yellow-200,
            "300": $yellow-300,
            "400": $yellow-400,
            "500": $yellow-500,
            "600": $yellow-600,
            "700": $yellow-700,
            "800": $yellow-800,
            "900": $yellow-900,
            "950": $yellow-950,
            "a24": $yellow-a24,
            "a16": $yellow-a16,
            "a10": $yellow-a10),
        $yellows
);

$purples: (
    ) !default;
$purples: map-merge(("50": $purple-50,
            "100": $purple-100,
            "200": $purple-200,
            "300": $purple-300,
            "400": $purple-400,
            "500": $purple-500,
            "600": $purple-600,
            "700": $purple-700,
            "800": $purple-800,
            "900": $purple-900,
            "950": $purple-950,
            "a24": $purple-a24,
            "a16": $purple-a16,
            "a10": $purple-a10),
        $purples
);

$skies: (
    ) !default;
$skies: map-merge(("50": $sky-50,
            "100": $sky-100,
            "200": $sky-200,
            "300": $sky-300,
            "400": $sky-400,
            "500": $sky-500,
            "600": $sky-600,
            "700": $sky-700,
            "800": $sky-800,
            "900": $sky-900,
            "950": $sky-950,
            "a24": $sky-a24,
            "a16": $sky-a16,
            "a10": $sky-a10),
        $skies
);

$pinks: (
    ) !default;
$pinks: map-merge(("50": $pink-50,
            "100": $pink-100,
            "200": $pink-200,
            "300": $pink-300,
            "400": $pink-400,
            "500": $pink-500,
            "600": $pink-600,
            "700": $pink-700,
            "800": $pink-800,
            "900": $pink-900,
            "950": $pink-950,
            "a24": $pink-a24,
            "a16": $pink-a16,
            "a10": $pink-a10),
        $pinks
);

$teals: (
    ) !default;
$teals: map-merge(("50": $teal-50,
            "100": $teal-100,
            "200": $teal-200,
            "300": $teal-300,
            "400": $teal-400,
            "500": $teal-500,
            "600": $teal-600,
            "700": $teal-700,
            "800": $teal-800,
            "900": $teal-900,
            "950": $teal-950,
            "a24": $teal-a24,
            "a16": $teal-a16,
            "a10": $teal-a10),
        $teals
);

$whites: (
    "a32": $white-a32,
    "a24": $white-a24,
    "a16": $white-a16,
    "a10": $white-a10,
    "a4": $white-a4) !default;

$blacks: (
    "a32": $black-a32,
    "a24": $black-a24,
    "a16": $black-a16,
    "a10": $black-a10,
    "a4": $black-a4) !default;

$theme-colors: (
    ) !default;
$theme-colors: map-merge(("gray": $gray-500,
            "blue": $blue-500,
            "orange": $orange-500,
            "red": $red-500,
            "green": $green-500,
            "yellow": $yellow-500,
            "purple": $purple-500,
            "sky": $sky-500,
            "pink": $pink-500,
            "teal": $teal-500,
            "white": $white,
            "black": $black),
        $theme-colors
);

$theme-color-levels: (
    ) !default;
$theme-color-levels: map-merge(("white": $white,
            "gray-50": $gray-50,
            "gray-100": $gray-100,
            "gray-200": $gray-200,
            "gray-300": $gray-300,
            "gray-400": $gray-400,
            "gray-500": $gray-500,
            "gray-600": $gray-600,
            "gray-700": $gray-700,
            "gray-800": $gray-800,
            "gray-900": $gray-900,
            "gray-950": $gray-950,
            "black": $black,
            "blue-50": $blue-50,
            "blue-100": $blue-100,
            "blue-200": $blue-200,
            "blue-300": $blue-300,
            "blue-400": $blue-400,
            "blue-500": $blue-500,
            "blue-600": $blue-600,
            "blue-700": $blue-700,
            "blue-800": $blue-800,
            "blue-900": $blue-900,
            "blue-950": $blue-950,
            "orange-50": $orange-50,
            "orange-100": $orange-100,
            "orange-200": $orange-200,
            "orange-300": $orange-300,
            "orange-400": $orange-400,
            "orange-500": $orange-500,
            "orange-600": $orange-600,
            "orange-700": $orange-700,
            "orange-800": $orange-800,
            "orange-900": $orange-900,
            "orange-950": $orange-950,
            "red-50": $red-50,
            "red-100": $red-100,
            "red-200": $red-200,
            "red-300": $red-300,
            "red-400": $red-400,
            "red-500": $red-500,
            "red-600": $red-600,
            "red-700": $red-700,
            "red-800": $red-800,
            "red-900": $red-900,
            "red-950": $red-950,
            "green-50": $green-50,
            "green-100": $green-100,
            "green-200": $green-200,
            "green-300": $green-300,
            "green-400": $green-400,
            "green-500": $green-500,
            "green-600": $green-600,
            "green-700": $green-700,
            "green-800": $green-800,
            "green-900": $green-900,
            "green-950": $green-950,
            "yellow-50": $yellow-50,
            "yellow-100": $yellow-100,
            "yellow-200": $yellow-200,
            "yellow-300": $yellow-300,
            "yellow-400": $yellow-400,
            "yellow-500": $yellow-500,
            "yellow-600": $yellow-600,
            "yellow-700": $yellow-700,
            "yellow-800": $yellow-800,
            "yellow-900": $yellow-900,
            "yellow-950": $yellow-950,
            "purple-50": $purple-50,
            "purple-100": $purple-100,
            "purple-200": $purple-200,
            "purple-300": $purple-300,
            "purple-400": $purple-400,
            "purple-500": $purple-500,
            "purple-600": $purple-600,
            "purple-700": $purple-700,
            "purple-800": $purple-800,
            "purple-900": $purple-900,
            "purple-950": $purple-950,
            "sky-50": $sky-50,
            "sky-100": $sky-100,
            "sky-200": $sky-200,
            "sky-300": $sky-300,
            "sky-400": $sky-400,
            "sky-500": $sky-500,
            "sky-600": $sky-600,
            "sky-700": $sky-700,
            "sky-800": $sky-800,
            "sky-900": $sky-900,
            "sky-950": $sky-950,
            "pink-50": $pink-50,
            "pink-100": $pink-100,
            "pink-200": $pink-200,
            "pink-300": $pink-300,
            "pink-400": $pink-400,
            "pink-500": $pink-500,
            "pink-600": $pink-600,
            "pink-700": $pink-700,
            "pink-800": $pink-800,
            "pink-900": $pink-900,
            "pink-950": $pink-950,
            "teal-50": $teal-50,
            "teal-100": $teal-100,
            "teal-200": $teal-200,
            "teal-300": $teal-300,
            "teal-400": $teal-400,
            "teal-500": $teal-500,
            "teal-600": $teal-600,
            "teal-700": $teal-700,
            "teal-800": $teal-800,
            "teal-900": $teal-900,
            "teal-950": $teal-950,
            "white-a32": $white-a32,
            "white-a24": $white-a24,
            "white-a16": $white-a16,
            "white-a10": $white-a10,
            "white-a4": $white-a4,
            "black-a32": $black-a32,
            "black-a24": $black-a24,
            "black-a16": $black-a16,
            "black-a10": $black-a10,
            "black-a4": $black-a4 ),
        $theme-color-levels
);