@import url("https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css");
@import url("https://cdn.jsdelivr.net/npm/round-flag-icons/css/round-flag-icons.min.css");

// Custom Icons
// create with svgs from /assets
// component-fill.svg, component-line.svg, info-tooltip-fill.svg

.bl-component-fill {
    content: url(./assets/component-fill.svg);
    height: 1rem;
    width: 1rem;
}

.bl-component-line {
    content: url(./assets/component-line.svg);
    height: 1rem;
    width: 1rem;
}

.bl-info-tooltip-fill {
    content: url(./assets/info-tooltip-fill.svg);
    height: 1rem;
    width: 1rem;
}

// Brand Icons

.facebook-original {
    content: url(./assets/facebook-original.svg);
    height: 1rem;
    width: 1rem;
}

.facebook-black {
    content: url(./assets/facebook-black.svg);
    height: 1rem;
    width: 1rem;
}

.facebook-white {
    content: url(./assets/facebook-white.svg);
    height: 1rem;
    width: 1rem;
}

.google-original {
    content: url(./assets/google-original.svg);
    height: 1rem;
    width: 1rem;
}

.google-black {
    content: url(./assets/google-black.svg);
    height: 1rem;
    width: 1rem;
}

.google-white {
    content: url(./assets/google-white.svg);
    height: 1rem;
    width: 1rem;
}

.linkedin-original {
    content: url(./assets/linkedin-original.svg);
    height: 1rem;
    width: 1rem;
}

.linkedin-black {
    content: url(./assets/linkedin-black.svg);
    height: 1rem;
    width: 1rem;
}

.linkedin-white {
    content: url(./assets/linkedin-white.svg);
    height: 1rem;
    width: 1rem;
}

.x-original {
    content: url(./assets/x-original.svg);
    height: 1rem;
    width: 1rem;
}

.x-black {
    content: url(./assets/x-black.svg);
    height: 1rem;
    width: 1rem;
}

.x-white {
    content: url(./assets/x-white.svg);
    height: 1rem;
    width: 1rem;
}

.instagram-original {
    content: url(./assets/instagram-original.svg);
    height: 1rem;
    width: 1rem;
}

.instagram-black {
    content: url(./assets/instagram-black.svg);
    height: 1rem;
    width: 1rem;
}

.instagram-white {
    content: url(./assets/instagram-white.svg);
    height: 1rem;
    width: 1rem;
}

.whatsapp-original {
    content: url(./assets/whatsapp-original.svg);
    height: 1rem;
    width: 1rem;
}

.whatsapp-black {
    content: url(./assets/whatsapp-black.svg);
    height: 1rem;
    width: 1rem;
}

.whatsapp-white {
    content: url(./assets/whatsapp-white.svg);
    height: 1rem;
    width: 1rem;
}