@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";

@import "@blend-ed/blendx-ui/scss/core/core.scss"; // this is from the nodemodules (prod)
// @import "./blendx-ui/scss/core/core.scss"; // this is local blendx-ui in src folder (dev)
@import "@edx/brand/paragon/overrides.scss";

@import "assets/scss";