@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";

$shadow-xs: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);

.vw-100 {
    width: 100vw;
}

.vw-75 {
    width: 75vw;
}

@import "./blendx-ui/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

@import './example/index.scss';