@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";

.row {
    margin-right: 0;
    margin-left: 0;
}

main {
    padding: 0 2rem;
}

$shadow-xs: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);

.vw-100 {
    width: 100vw;
}

.vw-75 {
    width: 75vw;
}

@import "@blend-ed/blendx-ui/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

@import "assets/scss";