h1,
.h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -1px;
}

h2,
.h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -1px;
}

h3,
.h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -1px;
}

h4,
.h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.5px;
}

h5,
.h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
}

h6,
.h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
}

.fs-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
}

.fs-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
}

.fs-3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
}

.fs-4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.fs-5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.fs-6 {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.label {
    font-weight: 500;
}

.sub-h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sub-h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sub-h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .75px;
    text-transform: uppercase;
}

.sub-h4 {
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
}